
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #ffffff;
}

.navbar {
    background-color: #f5f5f5;
    margin: 0;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 10px #e4e4e4;
}

.mainTitle {
    font-size: 2em;
    margin: 0;
    padding: 10px;
    color: #536DFE;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 2px  #536DFE;
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
}

#drop-area.drag-over {
    background-color: #a09292;
  }


.hiddenSuccess {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

.hiddenError {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px;
}

.hiddenEr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px;
}

.hidden{
    display: none;
}


.receiptButton {
    background-color: #536DFE;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.InputMssg{
    width: 60%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.Inputmessage {
    width: 100%;
    padding: 10px;
    border: 1px solid #536DFE;
    border-radius: 5px;
    margin-top: 10px;
    
    
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.uploadIcon{
    height: 200px;
    width: 200px;
}